<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.itllp.tipOnDiscount"
      android:versionName="1.0.4" 
      android:versionCode="5">
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_tipondiscount">
        <activity android:name=".TipOnDiscount"
                  android:label="@string/app_name"
      			  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest> 